<% layout("/layouts/boilerplate.ejs") %>
<body>
     <form action="/listings/<%=listing._id%>?_method=patch" method="post" novalidate  class="needs-validation" enctype="multipart/form-data">
      <h3>Edit Your Listing</h3>
       <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">enter valid title name</div>
            <div class="valid-feedback">title looks good</div>
       </div>
       <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="" cols="20" rows="8" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">write short descriiption</div>
       </div>
       <div class="mb-3">
         <img src="<%= listing.image.url %>" alt="hotel" height="200px" width="360px">
           
     </div>
       <div class="mb-3">
            <label for="image" class="form-label">upload new image</label>
            <input type="file" name="image" value="<%= listing.image %>" class="form-control" >
             
       </div>
       <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">enter valid price</div>
       </div>
       <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">location should be valid</div>
       </div>
       <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="country" value="<%= listing.country %>" class="form-control" required>
            <div class="invalid-feedback">enter correct country name</div>
       </div>
         
           <button class="btn btn-dark add-btn">Edit</button>

     </form>
</body>